.index {
  
}

.label {
  font-size: 16px;
  line-height: 138%;
  color: var(--dark-gray-translucent);
}

.textareaContainer {
  height: 128px;
  border: 1px solid var(--pale-gray);
  padding: 21px 24px;

  &>textarea {
    height: 100%;
    resize: none
  }
}